.button {
    padding: 6px 14px;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 8px;
    // border: 1px solid #767676;
    background: linear-gradient(90deg, #252525 0%, #252525 100%);

    &__intro {
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__price {
        text-transform: capitalize;
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: linear-gradient(90deg, #1ed760 0%, #017029 100%);
    }
}
