body {
    font-family: Urbanist;
}

.container {
    margin: 0 auto;

    @media (max-width: 426px) {
        max-width: 390px;
    }

    @media (max-width: 376px) {
        max-width: 350px;
    }

    @media (max-width: 321px) {
        max-width: 310px;
    }
}
