.header {
    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        width: 100%;
        justify-content: space-between;
    }
}

.name-brand {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: -0.413px;
}
