.header {
    position: relative;

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        width: 100%;
        justify-content: space-between;
    }
}

.name-brand {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: -0.413px;
}

.menu-burger {
    &__list {
        position: absolute;
        top: 75px;
        left: -100%;

        width: 100%;
        padding: 10px;

        background: #fff;
        color: #000;

        opacity: 0;
        transition: all 0.3s ease;

        z-index: 999;

        & li {
            padding: 5px 0;
        }

        &--active {
            left: 0;
            opacity: 1;
        }
    }
}
