.price {
    &__title {
        padding: 0 0 30px 0;
        text-align: center;
        color: #000;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 55.021px; /* 190.222% */
        letter-spacing: -0.413px;
        text-transform: capitalize;
    }

    &__frame {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 40%;

        padding: 12px 14px;
        width: fit-content;

        border-radius: 14px;
        background: linear-gradient(332deg, #e4e4e4 0%, #d7d7d7 100%);

        &--square {
            flex-basis: auto;
            width: 100px;
            height: 100px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__content {
        margin-bottom: 10px;

        color: #595959;
        text-align: right;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        & span {
            color: #595959;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    &__text {
        color: #595959;
        font-family: Urbanist;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.through {
    font-size: 16px !important;
    text-decoration: line-through;
}
