.price {
    padding: 33px 0;

    &__title {
        text-align: center;
        color: #000;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 55.021px; /* 190.222% */
        letter-spacing: -0.413px;
        text-transform: capitalize;
    }

    &__frame {
        padding: 40px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 40%;

        padding: 12px 14px;
        width: fit-content;

        border-radius: 14px;

        &--square {
            flex-basis: auto;
            max-width: 45%;

            display: flex;
            align-items: center;
            justify-content: center;

            color: white;
            background-color: #059e3c;

            @media (max-width: 320px) {
                max-width: 30%;
            }
        }
    }

    &__table {
        color: #595959;
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.table {
    margin: 0 auto;

    width: 80%;

    border-collapse: collapse;
    box-shadow: 0 0 0 1px #595959;
    border-radius: 8px;

    &--full-size {
        width: 100%;

        & th {
            width: 25%;
        }
    }

    &__head {
        height: 60px;
        font-size: 20px;
        font-weight: 700;
    }

    &__row {
        height: 60px;
    }

    &__promo {
        color: #059e3c;
        font-weight: 700;

        & span {
            color: #595959;
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
            opacity: 0.8;
        }
    }
}

thead th:first-of-type,
tbody tr:first-of-type th:first-child {
    border-top-left-radius: 8px;
}

thead th:last-of-type {
    border-top-right-radius: 8px;
}

thead {
    border-bottom: 1px solid #595959;
}

tbody tr:last-of-type th:first-of-type {
    border-bottom-left-radius: 8px;
}

td {
    padding: 0.125em 0.25em;
}
tr:not(:last-of-type) {
    border-bottom: 1px solid #595959;
}
td:not(:last-of-type),
th:not(:last-of-type) {
    border-right: 1px solid #595959;
}

th {
    padding: 10px 14px;
}
